REACT_APP_API_URL=https://localhost:8081
NEXT_PUBLIC_API_URL=https://localhost:8081
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret
KEYCLOAK_CLIENT_ID=clientId
KEYCLOAK_CLIENT_SECRET=clientSecret
KEYCLOAK_ISSUER=http://localhost:8090/auth/realms/realm